

body{
    background-color: rgb(250, 250, 250);
    margin: 1em;
}

.contenedor{
width: 90%;
margin: 25px auto;
columns: 4;
column-gap: 5px;

}

.motos{
    width: auto;
    padding: 5px;
}

.motos img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
